.env/
env/
__pycache__
*.so
*.o
*.pcm
*.d
*.root
.vscode
*.cxx_tmp_*
*.rds
*ACLiC*
.Rproj.user
*Rproj
*.RData
*.Rcheck
*.aux
*.log
*.fls
*.fdb_latexmk
*.pdf
*.synctex.*
*.nb.*
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
experiments/*
!experiments/*.md
tmp
*.html
*.zip
*.tar.gz
*~
*.~
todo.md
*.dll
log*.txt
docs
!pdfs/*.pdf
