.env/
env/
__pycache__
*.so
*.o
*.pcm
*.d
*.root
.vscode
*.cxx_tmp_*
*.rds
*ACLiC*
.Rproj.user
r/*.html
*.RData
*.aux
*.log
*.fls
*.fdb_latexmk
*.pdf
*.synctex.*
*.nb.html
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
experiments/results/*
!experiments/results/*.jpg
experiments/data/*
!experiments/data/*.r
!experiments/data/*.R
!experiments/data/*.py
!experiments/data/*.cpp
!experiments/data/*.h
tmp
*.html
*.zip
*~
*.~
todo.md
.lintr
!vignettes/paper.pdf
!vignettes/presentation.pdf
!vignettes/poster.pdf
